/* Desktop CSS */

body {
    background-color: #24252A;
	overflow-y: scroll;
	overflow-x: hidden;
}


.wrapper {
	width: 100%;
	height: 100%;
	z-index: 1;
	
}

.sideMenu {
	background-color: #201E23;
	border-left: thin solid #5F5F5F;
	border-right: thin solid #5F5F5F;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 25px;
	width: 250px;
	height: 110vh;
	top: 0px; 
	margin-top: -10px;
	margin-left: 10px;
	overflow: hidden;
	position: fixed;
	z-index: 10;
}

.profilePicture {
	max-height: 250px;
	max-width: 200px;
	margin-left: 25px;
	overflow: hidden;
}


.sideMenuInfoEducation {
	margin-top: 50px;	
}

.sideMenuInfo {
	text-align: left;
	line-height: 5px;
	margin-top: 30px;
	margin-left: 13px;
	font-size: 15px;
}

.sideMenuInfoContact {
	display: inline-block;
}

.scalableContactInfo {
	cursor: pointer;
	margin-right: 10px;
  	display: inline-block;
	transition: all .05s ease-in-out;
}

.scalableContactInfo:hover {
	transform: scale(1.1);
}


#email {
	margin-top: 30px;
	display: none;
}

#skype {
	margin-top: 30px;
	display: none;
}

#discord {
	margin-top: 30px;
	display: none;
}

.URL {
	color: #3175FF;
}

.content {
	margin-top: 10px;
	margin-left: 290px;
	width: 100%;
	height: 100%;
	font-family: 'Muli', sans-serif;
}

.contentGrid {
	position: relative;
	width: 1100px;
	height: 100%;
}

.contentGridItem {
	width: 300px;
	height: 350px;
	border: thin solid;
	border-width: 2px;
	border-color: #606060;
	float: left;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	transition: all 200ms ease-in-out;
}

.contentGridItem:hover{
	transform: scale(1.1);
	cursor: pointer;
}

#contentItemQEWL {
	background-image: url(images/qewl_background.png);
}


.contentGridItemTitle {
	text-align: center;
	font-size: 20px;
}

.checkListItem {
	margin-bottom: 3px;
	
}

.archives {
	clear: both;
}

.headerDesc {
	text-align: center;
	margin-top: -20px;
	font-size: 12px;
}

.skillProgress {
	width: 250px;
	height: 10px;
}

progress {
	border-radius: 9px;
	background-color: #909090;
	
}

#cSharpProgress {	
	
}

ul {
	list-style-image: url(images/icon_checked.png);
	color: #D0D0D0;
}

hr { 
    display: block;
    border-style: dotted;
	border-color: #3B3B3B;
    border-width: 1px;
}

h1 {
    color: white;
    text-align: center;
	text-shadow: 1px 1px grey;
}

h2 {
	color: #D0D0D0;
}

h3 {
	color: #D0D0D0
}

h4 {
	color: #D0D0D0
}

h5 {
	color: #D0D0D0
}

h6 {
	color: #D0D0D0
}

p {
	color: #D0D0D0;
}


/* Mobile CSS */
@media screen and (max-width: 500px) {
	
}